/* =======================================
    style.css
    use this file for your custom styles
========================================== */
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);
/* use a box model that makes sense */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* set the default color, font-size, and line height */
html {
  color: #333;
  font-size: 1em;
  line-height: 1.4;
}

/* make images and embedded media fluid */
img,
object {
  max-width: 100%;
}

/* type hierarchy- change for your project */
.header{
    border: 2px solid green;
    text-align: center;
    background-color: lightgrey;
}
h1 {
  font-size: 2em; 
  font-family: "Pacifico"; 
  text-align: center;
}

h2 {
  font-size: 1.75em; 
  font-family: "Didact Gothic";
  text-align: center;
}

h3 {
  font-size: 1.75em; 
}

h4 {
  font-size: 1.125em; 
}
body{
    background-image: url(../img/congruent_pentagon/congruent_pentagon.png);
    text-align: center;
}
.photo1{
    float: right bottom;
}
ul{
    list-style: none;
}
.starting{
    font-size: 1.5em;
    padding: 10px 5px 5px 5px;
}
.copyright{
    float: right;
}
.ahw{
    padding: 10px 10px 10px 10px;
}
.gw{
    padding: 10px 10px 10px 10px;
}
.si{
    padding: 10px 10px 10px 10px;
}
.hdr{
    padding: 10px 10px 10px 10px;
}
/* =======================================
    author styles
    place your custom styles below here
========================================== */
























/* =======================================
    helper classes
    keep this at the bottom
========================================== */

/*
 * Clearfix: contain floats
 *
 * from HTML5 Boilerplate
 * shttps://github.com/h5bp/html5-boilerplate/blob/master/css/main.css
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}